<%- include ("partials/header") %>

<div class="container">

    <div class="row">
        <div class="col-10">


            请选择主账号
            <% data.forEach(function(item){ %>
                <div class="card">
                    <%= item.phonenumber %>
                    <div class="form-group">
                        <button class="form-control" onclick="window.location.href='/<%=item.phonenumber%>';">  查看 </button>

                        
                    </div>
                </div>
            <% }) %>
            
                
           
            
        </div>
    </div>
</div>



<%- include ("partials/footer") %>